:80 {
  encode zstd gzip

  @api path /api/*
  @legal path /privacy-policy* /privacy-policy-en* /terms-of-service*
  handle @api {
    reverse_proxy backend:3001
  }
  handle @legal {
    reverse_proxy backend:3001
  }

  handle {
    reverse_proxy frontend:80
  }

  log {
    output stdout
  }
}
